<?xml version="1.0"?>
<config>
    <modules>
        <Jb_Stats>
            <version>0.1.0</version>
        </Jb_Stats>
    </modules>
    <admin>
        <routers>
            <stats_stuff>
                <use>admin</use>
                <args>
                    <module>Jb_Stats</module>
                    <frontName>adminhelloworld</frontName>
                </args>
            </stats_stuff>
        </routers>
    </admin>
    <adminhtml>
        <!-- The <layout> updates allow us to define our block layouts in a separate file so are aren't messin' with the Magento layout files.  -->
        <layout>
            <updates>
                <stats>
                    <file>Jb_Stats.xml</file>
                </stats>
            </updates>
        </layout>
        <!-- The <acl> section is for access control. Here we define the pieces where access can be controlled within a role. -->
        <acl>
            <resources>
                <admin>
                    <children>
                        <stats>
                            <title>Awesome Menu Item</title>
                            <children>
                                <example translate="title" module="stats">
                                    <title>Example Menu Item</title>
                                </example>
                            </children>
                        </stats>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <stats>
                <class>Jb_Stats_Helper</class>
            </stats>
        </helpers>
    </global>
</config>